body {
  font: 64px "Century Gothic", Futura, sans-serif;
  margin: 30px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.square {
  background: #fff;
  border: 1px inset rgba(72, 72, 72, 0.5);
    border-radius: 6px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 66px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 66px;
}

.plus_square {
  background: #fff;
  border: 0px solid #999;
  float: right;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 66px;
  margin-right: 6px;
  margin-top: 6px;
  padding: 0;
  width: 66px;
  outline: none;
}

.minus_square {
  background: #fff;
  border: 0px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 66px;
  margin-right: 0px;
  margin-left: 6px;
  margin-top: 6px;
  padding: 0;
  width: 66px;
  outline: none;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.sum {
  font: 64px "Century Gothic", Futura, sans-serif;
  text-align: center;
}

.rollHistory {
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: 10px;
  margin-top: -1px;
  text-align: left;
  width: 30px;
}
.resultHistory {
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-top: -1px;
  text-align: left;
  width: 30px;
}
